body {
    color: #262125 ;
    background-color: #c3d8c3 ;
    font-family:Arial, Helvetica, sans-serif;
    padding: 5%;
} 

h1 {
    background-color: #396139 ;
    font-size: 20;
    padding: 5%;
}

ul {
    background-color: #d594b7 ;
    margin-left: 10;
    margin-right: 10;
    text-indent: 3ch; 
    font-size: 6;
    padding: 2%;
}

p {
    background-color: #d594b7 ;
    margin-left: 10;
    margin-right: 10;
    text-indent: 3ch; 
    font-size: 6;
    padding: 2%;
}